<h1>会員用Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<table class="table">
<% @products.each do |product| %>
  <tr>
      <td>
        <%= link_to product_path(product) do %>
          <%= product.name %>
        <% end %>
      </td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= attachment_image_tag product, :product_image, :fill, 100, 100 %></td>
      <td><%= product.is_valid %></td>
  </tr>
<% end %>
</table>