<header>
  <div class="Menu">
    <a class="Logo fas fa-book" href="/"><span>固定のところヘッダー</span></a>
    <div class="HamburgerIcon">
      <a class="HamburgerIconTrigger" href="#">
        <span class="HamburgerIconTrigger__line--top"></span>
        <span class="HamburgerIconTrigger__line--middle"></span>
        <span class="HamburgerIconTrigger__line--bottom"></span>
      </a>
    </div>
    <div>
      <ul class="Navbar">
      <% if user_signed_in? %>
        <li class="Navbar__item"><%= link_to ' Home',users_path,class: 'Navbar__item--col fas fa-home' %></li>
        <li class="Navbar__item"><%= link_to ' Users',users_path,class: 'Navbar__item--col fas fa-users' %></li>
        <li class="Navbar__item"><%= link_to ' Books',products_path ,class: 'Navbar__item--col fas fa-book-open'%></li>
        <li class="Navbar__item"><%= link_to ' logout', destroy_user_session_path, method: :delete,class: 'Navbar__item--col fas fa-sign-out-alt ' %></li>
      <% elsif admin_signed_in? %>
        <li class="Navbar__item"><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li class="Navbar__item"><%= link_to ' Home',root_path,class: 'Navbar__item--col fas fa-home' %></li>
        <li class="Navbar__item"><%= link_to ' sign up', new_user_registration_path,class: 'Navbar__item--col fas fa-user-plus' %></li>
        <li class="Navbar__item"><%= link_to ' login', new_user_session_path ,class: 'Navbar__item--col fas fa-sign-in-alt'%></li>
      <% end %>
      </ul>
    </div>
  </div>
</header>